.username-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
  margin: 2rem auto;
}

label {
  font-size: large;
  margin-right: 1rem;
}

p {
  color: grey;
  font-style: italic;
}

.form-control {
  width: 20rem;
}

.input-div {
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: row;

  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: darkgrey;
  margin-bottom: 1rem;
}
